
html, body{
    height: 100%;
    width: 100%;
    font-size: 16px;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: padding-box;
}

body, nav, li, a {
    font-family: Tahoma;
}

.codeContainer {
    position: relative;
    width: 100%;
    min-width: 370px;
    margin: auto;
    overflow: auto;
}

textarea, .CodeMirror {
    width: 100%;
    margin: auto;
    clean: both;
    display: block;
    height: auto;
    float: left;
    transition: width linear .2s;
}

textarea, .CodeMirror, .evaluates {
    border: none;
/*
    border-left: solid 4px gray;
    border-right: solid 4px gray;
*/
    //border: solid 1px gray;
    //border-radius: 6px;
}

.evaluates {
    background: #eee;
    text-align: left;
    padding: 1rem;
    white-space: pre;
    font-family: monospace;
}

.evaluatesContainer {
    border-top: solid 1px #aaa;
    border-bottom: solid 3px gray;
}

.CodeMirror {
    font-size: 1.5rem;
    overflow-x: auto;
    overflow-y: hidden;
    height: auto;
    position: relative;
}

.btns {
    border-top: solid 4px gray;
    min-width: 500px;
    text-align: center;
    margin: auto;
    margin-bottom: 200px;
}

.CodeMirror:nth-child(2) {
    width: 0;
    float: right;
    position: absolute;
    right: 1px;
    z-index: 999999999;
    border-radius: 6px 0 0 6px;
    border: solid 1px transparent;
}

/*
.CodeMirror:nth-child(1) {
    margin-top: 10px;
}
*/

.showingTranspiler .CodeMirror:nth-child(1){
    opacity: .2;
    position: absolute;
}

.showingTranspiler .CodeMirror:nth-child(2){
    width: 90%;
    display: block;
    position: relative;
    box-shadow: -5px -5px 50px 0 #bbb;
    border: solid 1px gray;
    border-right: none;
}

header {
    background: white;
    border-bottom: solid 4px gray;
    height: 46px;
    position: relative;
    z-index: 999;
    display: block;
}

header > div,
header > input {
    float: left;
}

#workingOn {
    float: left;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 999;
    background: white;
    height: 100%;
    padding: 0 10px;
}

.featuresBtns {
    border-left: solid 3px gray;
    height: 100%;
    display: inline-block;
/*    margin-left: 8px;*/
}

/*.featuresBtns input {
    padding: 5px;
}*/

.btn {
    height: 46px;
    text-align: center;
    background: white;
    border: none;
    min-width: 100px;
    padding: 4px 14px 4px 10px;
    margin: 0;
    position: relative;
    z-index: 999;
    border-left: solid 4px transparent;
    /*font-size: 1rem;*/
}

.btn:hover {
    background-color: #f4f4f4;
    outline: none;
}

.btn:active {
    background-color: #e0e0e0;
    outline: none;
}

nav {
    position: absolute;
    top: -500px;
    left: 0;
    z-index: 10;
    width: 192px;
    background-color: gray;
    color: white;
    transition: top ease-out .2s;
/*    height: 12rem;*/
    overflow: auto;
    font-size: .8rem;
}

nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    cursor: pointer;
}

nav ol li {
    height: 1.8rem;
    padding: 5px 5px 0 5px;
    margin: 0;
    border-left: solid 0 white;
    transition: border-left, .2s linear;
}

nav li:hover {
    //background-color: #e0e0e0;
    //border-right: solid 4px blue;
    border-left: solid 8px red;
}

.lessons {
    display: inline-block;
}

.lessons:hover .btn {
/*    background: #e0e0e0;*/
/*    border-left-color: blue;*/
}

.lessons:hover nav {
    top: 46px;
}

.steps {
    display: none;
}

.hasSteps .steps {
    display: inline;
}

#samples {
    display: none;
}

#workingOnDesc {
    display: inline-block;
    padding-top: 12px;
}

#workingOnDesc h2{
    margin: 0;
    padding: 0;
}

.hideDescription #workingOnDesc {
    display: none;
}

.error-message {
    color: red;
}

